# Video Game Sales

## Farah al-Zayyout - 14/12/2020

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vgsales.csv')

### Which company is the most common video game publisher?

In [3]:
most_common_publisher = df.groupby('Publisher').count()

In [4]:
most_common_publisher.sort_values('Name',ascending=False)[['Name']].head(1)

                 Name
Publisher
Electronic Arts  1351

### Whatâ€™s the most common platform?

In [28]:
most_common_platform = df.groupby('Platform').count()

In [29]:
most_common_platform.sort_values('Name', ascending=False)[['Name']].head(1)

          Name
Platform
DS        2163

### What about the most common genre?

In [7]:
most_common_genre= df.groupby('Genre').count()

In [8]:
most_common_genre.sort_values('Name',ascending=False)[['Name']].head(1)

        Name
Genre
Action  3316

### What are the top 20 highest grossing games?

In [172]:
top_twenty= df.sort_values('Global_Sales',ascending=False).head(20)[['Name','Global_Sales']]
top_twenty

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

### For North American video game sales, whatâ€™s the median?
* Provide a secondary output showing ten games surrounding the median sales output
    * assume that games with same median value are sorted in descending order

In [86]:
NA_median = df[['NA_Sales']].median()

In [87]:
NA_median

NA_Sales    0.08
dtype: float64

In [106]:
NA = df.sort_values('NA_Sales',ascending=True)

In [120]:
NA[NA.NA_Sales == 0.08].sort_values('Rank',ascending=True).iloc[224:234]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9931,9933,Spider-Man: Edge of Time,3DS,2011.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9934,9936,Turok: Evolution,GBA,2002.0,Shooter,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.12
9957,9959,Deadpool,XOne,2015.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9996,9998,GT Advance 2: Rally Racing,GBA,2001.0,Racing,THQ,0.08,0.03,0.00,0.00,0.11
10000,10002,A Witch's Tale,DS,2009.0,Role-Playing,Nippon Ichi Software,0.08,0.00,0.03,0.01,0.11
10012,10014,Nickelodeon Dance,X360,2011.0,Misc,Take-Two Interactive,0.08,0.02,0.00,0.01,0.11
10020,10022,Phantasy Star Collection,GBA,2002.0,Role-Playing,Atari,0.08,0.03,0.00,0.00,0.11
10022,10024,LEGO Knights' Kingdom,GBA,2004.0,Action,THQ,0.08,0.03,0.00,0.00,0.11
10024,10026,Family Game Night 4: The Game Show,PS3,2011.0,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11
10026,10028,NBA Jam 2002,GBA,2002.0,Sports,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.11

### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [15]:
top_selling = df.groupby('Year')[['Global_Sales','NA_Sales']].max()  # [df.NA_Sales == df.NA_Sales.max()]

In [16]:
top_selling.mean()

Global_Sales    16.824359
NA_Sales         9.108205
dtype: float64

In [17]:
# std_above = top_selling[top_selling['NA_Sales'] < m[0]].count()

In [18]:
# std_below = top_selling[top_selling['NA_Sales'] > m[0]].count()

### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [163]:
#nintendo_wii = df[df['Platform']=='Wii'][df['Publisher']=='Nintendo'].mean()
wii = df[df['Platform']=='Wii'].mean()['Global_Sales']
not_wii = df[df['Platform']!='Wii']['Global_Sales'].mean()
diff = wii/not_wii
diff

1.3362965516676526

### what is the game that has highest sales on the interval 2000-2005 based on JP_Sales?

In [24]:
b = df[df['Year'] >= 2000][df['Year'] <= 2005][['JP_Sales','Name','Year']]

<ipython-input-24-d92e158b9672>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  b = df[df['Year'] >= 2000][df['Year'] <= 2005][['JP_Sales','Name','Year']]

In [170]:
highest_sales=b[b.JP_Sales == b.JP_Sales.max()].Name
highest_sales

25    Pokemon Ruby/Pokemon Sapphire
Name: Name, dtype: object