# Video Game Sales

## Farah al-Zayyout - 14/12/2020

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vgsales.csv')

In [3]:
most_common_publisher = df.groupby('Publisher').count()

In [4]:
most_common_publisher.sort_values('Name',ascending=False)[['Name']].head(1)

                 Name
Publisher
Electronic Arts  1351

In [28]:
most_common_platform = df.groupby('Platform').count()

In [29]:
most_common_platform.sort_values('Name', ascending=False)[['Name']].head(1)

          Name
Platform
DS        2163

In [7]:
most_common_genre= df.groupby('Genre').count()

In [8]:
most_common_genre.sort_values('Name',ascending=False)[['Name']].head(1)

        Name
Genre
Action  3316

In [9]:
top_twenty= df.sort_values('Global_Sales',ascending=False).head(20)[['Name','Global_Sales']]

In [10]:
top_twenty

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [86]:
NA_median = df[['NA_Sales']].median()

In [87]:
NA_median

NA_Sales    0.08
dtype: float64

In [90]:
NA = df.sort_values('NA_Sales',ascending=False)

In [92]:
above = NA[NA['NA_Sales'] >= NA_median[0]].tail(5)
below = NA[NA['NA_Sales'] <= NA_median[0]].tail(5)
pd.concat([above, below])

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
3885,3887,International Track & Field,PS,1996.0,Sports,Konami Digital Entertainment,0.08,0.05,0.35,0.03,0.51
6388,6390,Scooby-Doo! and the Spooky Swamp,PS2,2010.0,Action,Warner Bros. Interactive Entertainment,0.08,0.11,0.00,0.08,0.27
2067,2069,Winning Eleven: Pro Evolution Soccer 2007 (All...,X360,2006.0,Sports,Konami Digital Entertainment,0.08,0.90,0.02,0.00,1.00
7698,7700,Shiren the Wanderer,Wii,2008.0,Role-Playing,Sega,0.08,0.00,0.11,0.01,0.20
5715,5717,Bust-A-Move Universe,3DS,2011.0,Puzzle,Square Enix,0.08,0.15,0.06,0.03,0.31
8808,8810,Jikkyou Powerful Pro Yakyuu 2012,PSP,2012.0,Action,Konami Digital Entertainment,0.00,0.00,0.15,0.00,0.15
8799,8801,Theatrhythm Dragon Quest,3DS,2015.0,Misc,Square Enix,0.00,0.00,0.15,0.00,0.15
8795,8797,Countdown: The Game,DS,2009.0,Puzzle,Mindscape,0.00,0.14,0.00,0.01,0.15
13576,13578,Kanuchi: Shiroki Tsubasa no Shou,PS2,2008.0,Adventure,Idea Factory,0.00,0.00,0.04,0.00,0.04
5816,5818,RPG Tsukuru 2,SNES,1996.0,Role-Playing,ASCII Entertainment,0.00,0.00,0.31,0.00,0.31

In [64]:
NA_median_surr.iloc[230:240]

                                             Name
10020                    Phantasy Star Collection
10022                       LEGO Knights' Kingdom
10024          Family Game Night 4: The Game Show
10026                                NBA Jam 2002
10029                    Tony Hawk's Pro Skater 5
10042       Tom Clancy's Rainbow Six: Rogue Spear
10047                             Life is Strange
10050                                Phantom Dust
10055              Mega Man Battle Chip Challenge
10069  Stubbs the Zombie in Rebel Without a Pulse

In [15]:
top_selling = df.groupby('Year')[['Global_Sales','NA_Sales']].max()  # [df.NA_Sales == df.NA_Sales.max()]

In [16]:
top_selling.mean()

Global_Sales    16.824359
NA_Sales         9.108205
dtype: float64

In [17]:
# std_above = top_selling[top_selling['NA_Sales'] < m[0]].count()

In [18]:
# std_below = top_selling[top_selling['NA_Sales'] > m[0]].count()

In [19]:
nintendo_wii = df[df['Platform']=='Wii'][df['Publisher']=='Nintendo'].mean()[['Global_Sales']]

<ipython-input-19-0036eced9637>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  nintendo_wii = df[df['Platform']=='Wii'][df['Publisher']=='Nintendo'].mean()[['Global_Sales']]

In [20]:
nintendo_wii

Global_Sales    4.648333
dtype: float64

In [21]:
not_wii = df[df['Platform']!='Wii'].groupby('Platform')[['Global_Sales']].mean().max()

In [22]:
diff = nintendo_wii[0]-not_wii[0]

In [23]:
diff

2.0417006802721094

### what is the game that has highest sales on the interval 2000-2005 based on JP_Sales?

In [24]:
b = df[df['Year'] >= 2000][df['Year'] <= 2005][['JP_Sales','Name','Year']]

<ipython-input-24-d92e158b9672>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  b = df[df['Year'] >= 2000][df['Year'] <= 2005][['JP_Sales','Name','Year']]

In [25]:
hgihest_sales=b[b.JP_Sales == b.JP_Sales.max()]

In [26]:
hgihest_sales #[['JP_Sales','Name']].max()

    JP_Sales                           Name    Year
25      5.38  Pokemon Ruby/Pokemon Sapphire  2002.0